Repository niksy/throttle-debounce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

.lintstagedrc:

{
	"*.js": ["eslint --fix", "git add"],
	"*.md": ["prettier --ignore-path .gitignore --write", "git add"],
	".!(npm|browserslist)*rc": [
		"prettier --ignore-path .gitignore --parser json --write",
		"git add"
	]
}

revert noLeading option implementation
  throttle.js
Due: eslint --fix

implement noLeading
  test/index.js
  throttle.js
Due: eslint --fix

implement noLeading utilizing lastExec without preventUntil
  throttle.js
Due: eslint --fix

BREAKING CHANGE: change definition of throttle options
  throttle.js
Due: eslint --fix

update README
  README.md
Due: prettier --ignore-path .gitignore --write

Install Chrome for CI PR testing
  .github/workflows/ci.yml
Due: none

implement noLeading
  throttle.js
Due: eslint --fix

Apply lint fixes
  debounce.js
  index.js
  test/index.js
  throttle.js
Due: eslint --fix

fix comment (preventUntil -> lastExec)
  throttle.js
Due: eslint --fix

Upgrade package
  .babelrc
  .browserslistrc
  .editorconfig
  .eslintrc
  .github/workflows/ci.yml
  .lintstagedrc
  .prettierrc
  .travis.yml
  README.md
  karma.conf.js
  package.json
  rollup.config.js
  test/.eslintrc
  test/.webpack.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Add notice regarding new version
  README.md
Due: prettier --ignore-path .gitignore --write

Update changelog
  CHANGELOG.md
  README.md
Due: prettier --ignore-path .gitignore --write

4.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

normalize debounce API with throttle API changes
  README.md
  debounce.js
  test/index.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

fix #55
  test/index.js
  throttle.js
Due: eslint --fix

fix invocation with { noLeading: true, noTrailing: true }
  throttle.js
Due: eslint --fix

Add support for running tests headlessly in CI
  .github/workflows/ci.yml
  CHANGELOG.md
  karma.conf.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Update changelog
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

4.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

update CHAMGELOG
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

Update CHAMGELOG
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

Normalize .cancel API
  README.md
  test/index.js
  throttle.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

Adds option to cancel only upcoming invocation
  README.md
  test/index.js
  throttle.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

.cancel arguments check
  README.md
  throttle.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Update changelog after rebase
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write
