Repository niksy/throttle-debounce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

Upgrade package
  README.md
Due: prettier --ignore-path .gitignore --write

Add Browserstack testing
  .gitignore
  .travis.yml
  README.md
  karma.conf.js
  package.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

Add CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

Temporarily disable github-release-from-changelog
  package.json
Due: none

2.2.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Add missing variable declaration in example
  README.md
Due: prettier --ignore-path .gitignore --write

Update to support UMD / browser
  .eslintrc
  .gitignore
  index.umd.js
  index.umd.js.map
  package.json
  rollup.config.js
Due: eslint --fix

update browser key
  package.json
Due: none

update exports
  index.umd.js
  rollup.config.js
Due: eslint --fix

PR feedback
  .eslintrc
  .gitignore
Due: none

actually delete the files
  index.umd.js
  index.umd.js.map
Due: eslint --fix

Update changelog
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

2.3.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Avoid having Webpack load the UMD module
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Upgrade package
  .gitignore
  .lintstagedrc
  .prettierrc
  .travis.yml
  CHANGELOG.md
  debounce.js
  karma.conf.js
  package.json
  rollup.config.js
  test/.eslintrc
  test/index.js
  throttle.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

3.0.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Update documentation
  README.md
Due: prettier --ignore-path .gitignore --write

Update package.json exports to fix some libs
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .gitignore --write

3.0.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .gitignore --write

Added isPending function
  README.md
  test/index.js
  throttle.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

BREAKING CHANGE: change definition of throttle options
  debounce.js
  test/index.js
  throttle.js
Due: eslint --fix

update README
  .editorconfig
  README.md
Due: prettier --ignore-path .gitignore --write

implement noLeading
  test/index.js
  throttle.js
Due: eslint --fix

update README
  README.md
Due: prettier --ignore-path .gitignore --write

revert noLeading option implementation
  throttle.js
Due: eslint --fix

implement noLeading utilizing lastExec without preventUntil
  throttle.js
Due: eslint --fix

fix comment (preventUntil -> lastExec)
  throttle.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --ignore-path .gitignore --write: any of: *.md
